 .wrap{
	width: 1200px;
	margin: auto;
}
.logo{
	font-size: 30px;
	float: left;
	color: #00af8d;
	width: 130px;
}
.nav{
	background: #272727;
	color: #fff;
	height: 40px;
	line-height: 40px;
}
.nav li{
	width: 70px;
	float: left;
	list-style: none;
	text-align: center;
}
.nav li.on{
	background: #00af8d;
} 